asgiref==3.11.1
crispy-bootstrap5==2026.3
Django==6.0.2
django-crispy-forms==2.6
django-filter==25.2
djangorestframework==3.17.0
Markdown==3.10.2
packaging==26.2
pillow==12.2.0
setuptools==82.0.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
wheel==0.47.0
whitenoise==6.7.0